@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family: 'Lato', sans-serif !important;
}

.material-icons
{
    font-family: 'Material Icons' !important;
    font-size: 18px;
}

:root{
    --background-color: #404B4E;
    --button-primary-color: #30383A;
    overflow: hidden;
}
body {
/*    -webkit-transition: all .5s ease-in-out;*/
/*    -moz-transition: all .5s ease-in-out;*/
/*    -ms-transition: all .5s ease-in-out;*/
/*    -o-transition: all .5s ease-in-out;*/
/*    transition: all .5s ease-in-out;*/
/*    /* background-image: url(src/assets/39988397-ambient-wallpapers.jpg); */*/
/*    background-image: cover;*/
/*    background-size:100% auto;*/
/**/
/*    */
/*    background: #141E30;  /* fallback for old browsers */*/
/*    background: -webkit-linear-gradient(to top, rgb(57, 69, 85), rgb(0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */*/
/*    background: linear-gradient(to top,  rgb(57, 69, 85), rgb(0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
    
}
.litegui-wrap {
    background: transparent !important;
}

/* custom Litegraph stylesheet -------------------------------------------------------------------------------*/
#main-area{
    /* background-color: var(--background-color); */
    background: transparent;
}
#player-area{
}
#graph-canvas{
    background-color: rgba(55,55,55,0.5);
}

.canvas-labels{
    position: absolute;
    pointer-events: none;
}

/* MENU style modification */
.litemenubar ul{
    margin: 15px 0 15px 10px;
		color: red !important;

}
.litemenubar li{
    background-color: var(--button-primary-color);
	color: rgb(200,200,200) !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    line-height: 33px;
    margin: 3px 2px;
    border-radius: 3px;
}

.inspector .wcontent button.single {
    padding: 0;
}

.litesplitbar{
    background-color: #757575 !important;
}

/* Player */
#player-area{
  /* q  background-color: rgb(52, 103, 128); */

}
.load-icon{
    /* background-image: url(src/assets/bticon.png); */
    height: 260px;
    border-bottom: 1px solid rgb(37, 37, 37) !important; 
    margin-bottom: 2px;   
}
.load-behavior-info{
    color: rgb(167, 167, 167);
}
#player-buttons{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 0.25em;
    padding: 0 10px;
}

#player-buttons > li{
    display: inline-block;
    cursor: pointer;
    line-height: 33px;
}

#lidemierda{
	height:0px;
}
/* Play Button */
#play-btn{
    background: rgb(23, 145, 82);
    width: 34px;
	height:34px;
	top:3px;
	right:10px;
    text-align: center;
    font-size: 2.8em;
    border-radius: 17px;
/*    padding-top: 1px;*/
	position: absolute;
    transition: all 0.3s ease;
	z-index:1000;
	cursor:pointer;
}

#play-btn:hover{
    width: 34px;
	height:34px;
	top:3px;
	right:10px;
    text-align: center;
    font-size: 2.8em;
    border-radius: 17px;
/*    padding-top: 1px;*/
	position: absolute;
    transition: all 0.3s ease;
	z-index:1000;
	cursor:pointer;
	color:white;
    background: rgb(79, 167, 98);
    box-shadow: 0 0 10px rgba(255,255,255,0.25);
}

#play-btn.play{
    width: 34px;
	height:34px;
	top:3px;
	right:10px;
    text-align: center;
    font-size: 2.8em;
    border-radius: 17px;
	position: absolute;
    transition: all 0.3s ease;
	z-index:1000;
	cursor:pointer;
    background: rgb(164, 56, 56);
}

#play-btn.play:hover{
    background: rgb(72, 121, 82);
    width: 34px;
	height:34px;
	top:3px;
	right:10px;
    text-align: center;
    font-size: 2.8em;
    border-radius: 17px;
/*    padding-top: 1px;*/
	position: absolute;
    transition: all 0.3s ease;
	z-index:1000;
	cursor:pointer;
	color:white;
    background: rgb(176, 37, 37);
}

.stats{
    position: absolute;
    width: auto;
    height: 2.5em;
    bottom: 1em;
    left: 0px;
    line-height: 1.5em;
    padding: 0.5em 1em;
    text-shadow: 0 0 1px black;
    background: rgba(0,0,0,0.4);
    margin: 0em 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    user-select: none;
}
 
/* Dialog */
.litemenubar-panel{
    border-bottom: 2px solid rgb(100, 165, 165) !important;
}

.litedialog .panel-header {
    font-size: 1.3em !important;
    padding: 0.333em 0 0.33em 0.5em !important ;
}

.litedialog .panel-header {
    font-size: 1.5em;
    padding: 0.333em 0 0 0.5em;
}

.litedialog{
    border-bottom: 2px solid rgb(100, 165, 165)
}
.inspector{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inspector .widget {
    padding-left: 0.2em;
    line-height: 1.2em;
}
.inspector .drag_widget{
    height: 10px;
    vertical-align: unset;
}

.litedialog {
    height:auto !important;
}
.wname, .wtitle{
    text-transform: capitalize;
}
.wtitle{
    font-weight: bold;
    padding-left: 0.8em !important;
    text-shadow: 0 0 1px rgba(0,0,0,0.15);
}

#menu-panel{
    position: absolute;
    z-index: 1;
}

.draggable-item{
    cursor: pointer;
}


/* ------------------------------------------------------------------------------- custom Litegraph stylesheet */

#micro-tools{
    position:absolute;
    left: 0px;
    margin-right: 10px;
    top:45px;
    user-select: none;
}

.tool-btn{
    width: 22px !important;
    height: 22px;
    background-color: rgb(53, 53, 53);
    /* position: relative; */
    display: inline-block;
    /* border: 1px solid red; */
    margin: 3px;
  
    padding: 2px;
    border-radius: 5px; 
    z-index: 100;
    font-size: 14px;
    text-align: center;
}

.tool-btn:hover{
    cursor: pointer;
    background-color: rgb(87, 87, 87);
}

.tool-btn.active{
    background-color: rgb(0, 83, 79);
}

.slider-text.fixed.nano{
    width: 2.3em !important;
    padding: 2px;
}

.slider-container canvas{
    width:calc(100% - 2.8em) !important;
}
.slider-container{
    width:calc(100% - 2.8em) !important;
}

#full{
    width: 100%;
    height: 100%;
    display: none;
}